<h2>@ViewBag.Title</h2>

<table>
    <tr>
        <td align="left" valign="top">
            <p>
                @ViewBag.Content
            </p>
        </td>
        <td align="center" valign="middle">
            <img alt="Yoshitsune Jujitsu" src="../../Content/images/yoshitsune.jpg" />
        </td>
    </tr>
</table>


